<h1>All recipes</h1>
<% @recipes.each do |recipe| %>
  <h2><a href="/recipes/<%= recipe.id %>"><%= recipe.title %></a></h2>
  <h2>Chef: <%= recipe.chef %></h2>
  <p>Ingredients: <%= recipe.ingredients %></p>
  <p>Directions: <%= recipe.directions %></p>
<% end %>
