<h1>All recipes</h1>
<div class="row">
  <% @recipes.each do |recipe| %>
    <div class="col-md-4">
      <div class="well">
        <h2><a href="/recipes/<%= recipe.id %>"><%= recipe.title %></a></h2>
        <h2>Chef: <%= recipe.chef %></h2>
        <img src="<%= recipe.image %>" alt="">
        <p>Ingredients: <%= recipe.ingredients %></p>
        <p>Directions: <%= recipe.directions %></p>
      </div>
    </div>
  <% end %>
</div>
